<h1>Edit your recipe</h1>

<% if @recipe.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for @recipe, url: user_recipe_path, method: :patch do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :instruction %>
    <%= f.text_area :instruction %>
  </div>
  <div class="field">
    <%= f.label :feeds %>
    <%= f.text_field :feeds %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="actions"><%= f.submit %></div>
<% end %>


