
<ul>

    <h2 class="text-center text-capitalize">Get Cooking <%= @recipe.name %>!</h2>
 <!--        <% if @recipe.image %>
          <div class="text-center">
        <%= image_tag @recipe.image.url(:medium) %>
          </div>
        <%end%>
 -->
    <h1><small>Instructions:</small></h1>
      <p class="lead text-center"><%= @recipe.instruction %></p>
    <h2><small>Feeds:</small></h2>
      <p class="lead text-center"><%= @recipe.feeds %></p>
    <h2><small>Approximate Price:</small></h2>
        <p class="lead text-center">
          $<%= @recipe.price %>
        </p>

</ul>
<ul>
    <h1><small>Ingredients:</small></h1>
      <% @ingredients.each do |ingredient| %>
        <li>
            <strong> <%= ingredient.name %> </strong>
              | <%= ingredient.portion %>
              <%= ingredient.p_unit_of_measure %>
              <%= link_to "Delete", user_recipe_ingredient_path(current_user.id, @recipe.id, ingredient.id), method: :delete, data: { confirm: "Are you sure ?"} %>
        </li>
    <% end %>
    </br>
    <button class="btn"><%=link_to "Add Ingredients", new_user_recipe_ingredient_path(current_user.id, @recipe)  %></button>
</ul>

<div class="text-center">
  <button class="btn"><%=link_to "Back to Recipes", user_recipes_path(current_user.id)  %></button>
</div>


