
<h1>Hi <%= current_user.name %> !</h1>
<h3> You currently have <%= current_user.recipes.count %> recipes.</h3>

<button><h4 class="option"><%= link_to "Add a Recipe!", new_user_recipe_path(current_user.id)%></h4></button>
<button class="user option"><h4><%= link_to "Edit Account", edit_user_path(current_user.id) %></h4></button>
<button class="user option"><h4><%= link_to "Delete Account", user_path(current_user.id), method: :delete, data: { confirm: "Are you sure ?"} %></h4></button>

