<div class="text-center">
<h1>Ingredients</h1>


    <% @ingredients.each do |ingredient| %>
        <p>
            <strong> <%= ingredient.name %> </strong> <%= ingredient.portion %>  <%= ingredient.p_unit_of_measure %>
              <%= link_to "Delete", user_recipe_ingredient_path(current_user.id, @recipe.id, ingredient.id), method: :delete, data: { confirm: "Are you sure ?"} %>
        </p>
    <% end %>

<button class="btn btn-default"><%=link_to "Add Ingredients", new_user_recipe_ingredient_path(current_user.id, @recipe)  %></button>
<button class="btn btn-default"><%=link_to "Back to Recipe", user_recipe_path(current_user.id, @recipe)  %></button>
</div>
